{% extends 'base.html.twig' %}

{% block title %}Wish Show{% endblock %}

{% block body %}

<div>
    <h1>Wish TODO</h1>

    <p>Gerard oublie pas de coder cette page, sinon croissant</p>
</div>

{% endblock %}
